[submodule "components/i2c"]
	path = components/i2c
	url = https://github.com/mngr0/I2C
[submodule "components/gel"]
	path = components/gel
	url = https://gitlab.com/bmi6/generic_embedded_libs
[submodule "components/cs011_termostatica_mplab"]
	path = components/cs011_termostatica_mplab
	url = https://gitlab.com/bmi6/cs011_termostatica_mplab
[submodule "components/cs014_mplab"]
	path = components/cs014_mplab
	url = https://gitlab.com/bmi6/cs014_mplab
